<div class="filter-container">
  <ais-panel header="Categories">
    <ais-hierarchical-menu
      [showParentLevel]="false"
      [attributes]="[
        'hierarchicalCategories.lvl0',
        'hierarchicalCategories.lvl1',
        'hierarchicalCategories.lvl2'
      ]"
    >
    </ais-hierarchical-menu>
  </ais-panel>
  <ais-panel header="Brands">
    <ais-refinement-list
      header="Brands"
      attribute="brand"
      operator="or"
      [limit]="10"
    >
    </ais-refinement-list>
  </ais-panel>
  <ais-panel header="Price Range">
    <ais-range-input
      attribute="price"
      [min]="1"
      [max]="3000"
      [precision]="0"
    >
    </ais-range-input>
  </ais-panel>
  <ais-panel header="Rating">
    <ais-rating-menu attribute="rating" [max]="6"> </ais-rating-menu>
  </ais-panel>
</div>
