.hit-container {
  min-height: 120px;
  margin-bottom: 0.75em;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 1em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.hit-container:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hit-container .image-container {
  float: left;
  height: 120px;
  width: 100px;
  margin-right: 0.5em;
}

.hit-container .image-container .image {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.hit-container .product-description {
  margin-left: calc(100px + 0.5em)
}
