.header-container {
  display: flex;
  background-color: rgb(28, 112, 190);
  padding: 1em;
  color: aliceblue;
}

.brand {
  flex: 0 10%;
  font-weight: bolder;
  font-size:xx-large

}

.search-container{
  flex: 0 50%;
  margin-right: 0.5em;
}

