.app-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.app-container > * {
}


.header {
  flex: 1 100%;
  margin-bottom: 1em;
}

.sidebar {
  margin-right: 1em;
}

.main {
  flex:  0 80%;
}
