<ais-instantsearch [config]="searchConfig">
  <div class="app-container">
    <div class="header"><app-header></app-header></div>
    <div class="sidebar"><app-filters></app-filters></div>
    <div class="main">
      <ais-hits>
        <ng-template let-hits="hits" let-results="results">
          <!-- No results message -->
          <div *ngIf="hits.length === 0">
            No results found matching <strong>{{ results.query }}</strong>
          </div>

          <!-- Hit template -->
          <ng-container *ngFor="let hit of hits" class="hit-container">
            <app-search-hit [hit]="hit"></app-search-hit>
          </ng-container>
        </ng-template>
      </ais-hits>
      <ais-hits-per-page [items]="hitsPerPageConfig"></ais-hits-per-page>
    </div>
  </div>
</ais-instantsearch>
